<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Экономика и управление</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%A0%D0%9E%D0%A4%D0%AB</string>
		<key>spreadsheetId</key>
		<string>12RJCSj430oow-Q5GnEHr7Wbww5vztZYLdUJSg_khrKA</string>
		<key>startColumn</key>
		<string>J</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>M</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>K</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>L</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
