<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Дошкольное образование</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>B</string>
		<key>startRow</key>
		<integer>10</integer>
		<key>endColumn</key>
		<string>E</string>
		<key>endRow</key>
		<integer>178</integer>
		<key>groupInfoStartColumn</key>
		<string>C</string>
		<key>groupInfoStartRow</key>
		<integer>7</integer>
		<key>groupInfoEndColumn</key>
		<string>D</string>
		<key>groupInfoEndRow</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Образование в области изобразительного и декоративно-прикладного искусства</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>F</string>
		<key>startRow</key>
		<integer>10</integer>
		<key>endColumn</key>
		<string>I</string>
		<key>endRow</key>
		<integer>178</integer>
		<key>groupInfoStartColumn</key>
		<string>G</string>
		<key>groupInfoStartRow</key>
		<integer>7</integer>
		<key>groupInfoEndColumn</key>
		<string>H</string>
		<key>groupInfoEndRow</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>История, обществознание</string>
		<key>curse</key>
		<string>1 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_1</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>B</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>E</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>C</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>D</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Иностранный язык (английский), иностранный язык (немецкий)</string>
		<key>curse</key>
		<string>1 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_1</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>F</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>I</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>G</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>H</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Русский язык и литература</string>
		<key>curse</key>
		<string>1 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_1</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>J</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>M</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>K</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>L</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Начальное образование, изобразительное искусство</string>
		<key>curse</key>
		<string>1 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_1</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>O</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>R</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>P</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>Q</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Дошкольное образование, дошкольная логопедия</string>
		<key>curse</key>
		<string>1 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_1</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>S</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>V</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>T</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>U</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Физическая культура, менеджмент  в физической культуре и спорте</string>
		<key>curse</key>
		<string>1 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_1</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>W</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>Z</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>X</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>Y</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Русский язык и литература</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_2</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>B</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>E</string>
		<key>endRow</key>
		<integer>175</integer>
		<key>groupInfoStartColumn</key>
		<string>C</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>D</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Иностранный язык (английский), иностранный язык (немецкий)</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_2</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>F</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>I</string>
		<key>endRow</key>
		<integer>175</integer>
		<key>groupInfoStartColumn</key>
		<string>G</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>H</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Иcтория, право</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_2</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>J</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>M</string>
		<key>endRow</key>
		<integer>175</integer>
		<key>groupInfoStartColumn</key>
		<string>K</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>L</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Математика, информатика</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_2</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>N</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>Q</string>
		<key>endRow</key>
		<integer>175</integer>
		<key>groupInfoStartColumn</key>
		<string>O</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>P</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Дошкольное образование, дошкольная логопедия</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_2</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>R</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>U</string>
		<key>endRow</key>
		<integer>175</integer>
		<key>groupInfoStartColumn</key>
		<string>S</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>T</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Безопасность жизнедеятельности, химия</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_2</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>V</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>Y</string>
		<key>endRow</key>
		<integer>175</integer>
		<key>groupInfoStartColumn</key>
		<string>W</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>X</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Физическая культура, менеджмент  в физической культуре и спорте</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_2</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>Z</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AC</string>
		<key>endRow</key>
		<integer>175</integer>
		<key>groupInfoStartColumn</key>
		<string>AA</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AB</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Начальное образование, изобразительное искусство</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_2</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>AD</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AG</string>
		<key>endRow</key>
		<integer>175</integer>
		<key>groupInfoStartColumn</key>
		<string>AE</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AF</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Русский язык и литература</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_3</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>B</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>E</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>C</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>D</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Иностранный язык (английский), иностранный язык (немецкий)</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_3</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>F</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>I</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>G</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>H</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>История, обществознание</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_3</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>J</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>M</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>K</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>L</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Начальное образование, изобразительное искусство</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_3</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>O</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>R</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>P</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>Q</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Биология, химия</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_3</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>S</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>V</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>T</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>U</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Физическая культура, безопасность жизнедеятельности</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_3</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>W</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>Z</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>X</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>Y</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Математика, физика</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_4</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>B</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>E</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>C</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>D</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Биология, химия</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_4</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>F</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>I</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>G</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>H</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Физическая культура, безопасность жизнедеятельности</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_4</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>J</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>M</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>K</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>L</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Русский язык и литература</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_4</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>N</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>Q</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>O</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>P</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Иностранный язык (английский), иностранный язык (немецкий)</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_4</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>R</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>U</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>S</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>T</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Дошкольное образование, начальное образование</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_4</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>V</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>Y</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>W</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>X</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>История, обществознание</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_4</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>Z</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AC</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>AA</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AB</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Физика, информатика</string>
		<key>curse</key>
		<string>5 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_5</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>B</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>E</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>C</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>D</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Безопасность жизнедеятельности, химия</string>
		<key>curse</key>
		<string>5 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_5</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>F</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>I</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>G</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>H</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Начальное образование иностранный язык</string>
		<key>curse</key>
		<string>5 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_5</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>J</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>M</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>K</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>L</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Иностранный язык (английский), иностранный язык (немецкий)</string>
		<key>curse</key>
		<string>5 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_5</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>O</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>R</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>P</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>Q</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Русский язык и литература</string>
		<key>curse</key>
		<string>5 курс</string>
		<key>sheetId</key>
		<string>%D0%9F%D0%9E(2)_5</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>S</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>V</string>
		<key>endRow</key>
		<integer>183</integer>
		<key>groupInfoStartColumn</key>
		<string>T</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>U</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Экономика и управление</string>
		<key>curse</key>
		<string>1 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>B</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>E</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>C</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>D</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Сервис мехатронных систем</string>
		<key>curse</key>
		<string>1 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>F</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>I</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>G</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>H</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Правоведение и правоохранительная деятельность</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>J</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>M</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>K</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>L</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Сервис мехатронных систем</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>N</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>Q</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>O</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>P</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Экономика и управление</string>
		<key>curse</key>
		<string>2 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>R</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>U</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>S</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>T</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Электроника, радиотехника и связь</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>V</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>Y</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>W</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>X</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Экономика и управление</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>Z</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AC</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>AA</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AB</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Правоведение и правоохранительная деятельность</string>
		<key>curse</key>
		<string>3 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>AD</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AG</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>AE</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AF</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Сервис</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>AH</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AK</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>AI</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AJ</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Правоведение и правоохранительная деятельность</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>AL</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AO</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>AM</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AN</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Электроника, радиотехника и связь</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>AP</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AS</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>AQ</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AR</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Экономика и управление</string>
		<key>curse</key>
		<string>4 курс</string>
		<key>sheetId</key>
		<string>%D0%BF%D1%80%D0%BE%D1%84%D1%8B</string>
		<key>spreadsheetId</key>
		<string>1CrVXpFRuvS4iq8nvGpd27-CeUcnzsRmbNc9nh2CWcWw</string>
		<key>startColumn</key>
		<string>AT</string>
		<key>startRow</key>
		<integer>11</integer>
		<key>endColumn</key>
		<string>AW</string>
		<key>endRow</key>
		<integer>179</integer>
		<key>groupInfoStartColumn</key>
		<string>AU</string>
		<key>groupInfoStartRow</key>
		<integer>8</integer>
		<key>groupInfoEndColumn</key>
		<string>AV</string>
		<key>groupInfoEndRow</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
